@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* 6DA942 */

.h-span-h {
    font-size: 16px;
    font-style: italic
}

.uname-home:hover {
    color: #6DA942 !important;
}

#main-see-menu-btn,
.scroll-header {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in
}

.reward-pts-trig-btn:hover,
a {
    text-decoration: none!important
}

.typed-one,
.typed-three,
.typed-two {
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    opacity: 0;
    font-size: 90%
}

.typed-one #t-one-two {
    opacity: 0;
    animation: typedonetwoanime 10s ease-in infinite
}

@keyframes typedonetwoanime {
    0%,
    100%,
    33%,
    6%,
    99% {
        opacity: 0
    }
    10%,
    30% {
        opacity: 1
    }
}

.typed-two #t-two-two {
    opacity: 0;
    animation: typedtwotwoanime 10s ease-in infinite
}

@keyframes typedtwotwoanime {
    0%,
    100%,
    32%,
    38%,
    66% {
        opacity: 0
    }
    42%,
    63% {
        opacity: 1
    }
}

.typed-one {
    animation: typedoneanime 10s ease-in infinite
}

.typed-two {
    animation: typedtwoanime 10s ease-in infinite
}

.typed-three {
    animation: typedthreeanime 10s ease-in infinite
}

@keyframes typedoneanime {
    0%,
    100%,
    30% {
        opacity: 1
    }
    33%,
    99% {
        opacity: 0
    }
}

@keyframes typedtwoanime {
    0%,
    100%,
    32%,
    66% {
        opacity: 0
    }
    38%,
    63% {
        opacity: 1
    }
}

@keyframes typedthreeanime {
    0%,
    100%,
    65%,
    99% {
        opacity: 0
    }
    70%,
    93% {
        opacity: 1
    }
}

.scroll-header {
    z-index: 8;
    position: fixed;
    top: -100px;
    left: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    background-color: #fff;
    transition: all .2s ease-in;
    border-bottom: 1px solid rgba(0, 0, 0, .13)
}

.scroll-header h1 {
    color: #000
}

.scroll-header .location-input-div {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-top: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, .3)
}

.scroll-header .location-search-input {
    border: 1px solid #eaeaea;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-right: 130px
}

.scroll-header .login-signup-trig-btn {
    border: none;
    color: #333;
    font-size: 110%;
    background-color: transparent
}

.scroll-header .see-menu-btn {
    line-height: 0
}

.scroll-header .head-basket {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px
}

.fvp {
    background: url(../../assets/img/fvp.jpg) center;
    background-size: cover;
    box-shadow: inset 0 20px 50px 1px rgba(0, 0, 0, 1);
    overflow: visible;
}

.dark-cover .container {
    width: 95%;
    height: 110%
}

.main-nav-div>nav>ul .head-basket {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100px
}

.m-main-header {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    top: 0;
    margin-top: 0
}

.main-logo {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 100%;
    color: #fff
}

.main-logo img {
    height: 60%;
    width: auto
}

.main-nav-div {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 100%;
    color: #fff;
    font-size: 100%
}

.main-nav-div>nav>ul>li {
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
    width: 140px;
    text-align: center
}

.head-basket-num {
    line-height: 0;
    padding: 0!important
}

.home-dropdown {
    margin-right: 0
}

.home-dropdown #menu1 {
    background-color: transparent;
    border: none;
    color: #fff
}

.main-nav-div .uline {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.main-nav-div .uline:hover {
    color: #6DA942
}

.concept-btn-li {
    margin: 0
}

.concept-trig-btn {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    margin: 15px auto 0;
    background-color: #6DA94200;
    color: #fff;
    font-size: 110%;
    letter-spacing: 1px;
    box-shadow: 0 0 8px 1px #777777b3;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.concept-trig-btn:hover {
    background-color: #6da942
}

.reward-pts-trig-btn {
    position: relative;
    display: block;
    border: 1px solid #fff;
    background: 0 0;
    padding: 15px 10px!important;
    border-radius: 4px;
    overflow: hidden;
    letter-spacing: 1px;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    transition: all .4s linear
}

.p-window-one,
.p-window-two,
.svp {
    background-size: cover;
}

.main-nav-div li .reward-pts-trig-btn:hover {
    border-color: #6DA942
}

.reward-pts-trig-btn p {
    margin: 0;
    padding: 0;
    font-size: 100%
}

#rwd-hover-div {
    z-index: -1;
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #6DA942;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    transition: all .4s linear
}

.reward-pts-trig-btn:hover>#rwd-hover-div {
    top: 0
}

.container .in-container {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90%;
    overflow: hidden
}

.main-text {
    position: absolute;
    top: 39%;
    transform: translate(0, -50%);
    bottom: 10%;
    color: #fff
}

.main-text h2 {
    font-size: 300%;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif
}

.main-text h3 {
    font-size: 120%
}

.typed-container {
    position: relative;
    display: flex;
    height: 30px;
    margin: 0;
    margin-top: 16px;
    align-items: center;
    justify-content: flex-start;
}

.typed-container h3 {
    line-height: 1;
}

.typed-cursor {
    visibility: hidden
}

.cur-serving {
    color: rgba(255, 255, 255, .6);
    margin: 20px auto 10px 2px;
    letter-spacing: .5px;
    font-size: 100%;
    font-weight: 400
}

.location-warning-div {
    position: relative;
    display: block;
    display: none;
    max-width: 650px;
    white-space: normal;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, .6);
    color: #000
}

.location-warning-div li,
.location-warning-div p,
.location-warning-div ul {
    margin: 0
}

.location-warning-div ul {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center
}

.location-warning-div ul p {
    text-align: left
}

.location-warning-div i {
    font-size: 250%;
    color: #fc0;
    margin-right: 20px
}

.location-warning-div p {
    font-size: 100%
}

#main-see-menu-btn {
    background-color: #6da942;
    color: #fff;
    font-size: 100%;
    letter-spacing: .5px;
    margin-left: 5px;
    transition: all .2s ease-in
}

#main-see-menu-btn:hover {
    background-color: #4b8024
}

.fvp-down-btn {
    position: absolute;
    display: block;
    bottom: 2%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    animation-duration: 4s!important;
    transition-timing-function: linear!important
}

.concept-div,
.how-it-works-div img,
.hv-look-head,
.svp {
    position: relative
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.infinite {
    animation-iteration-count: infinite
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom
}

@keyframes bounce {
    20%,
    53%,
    80%,
    from,
    to {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(.755, .050, .855, .060);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        animation-timing-function: cubic-bezier(.755, .050, .855, .060);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        transform: translate3d(0, -4px, 0)
    }
}

.svp {
    display: block;
    min-height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    background-position: center;
    overflow: hidden
}

.concept-div,
.how-it-works-div {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .9);
    color: #555
}

.hv-look-head {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 120%;
    font-weight: 700;
    color: #444
}

.how-it-works-div {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px 40px 0
}

.how-it-works-div .how-it-works-core .row {
    padding-bottom: 0;
    margin-bottom: 0;
    height: 10%!important
}

.how-it-works-div img {
    display: block;
    margin: 10px auto 20px;
    height: 50px;
    width: auto
}

.concept-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0
}

.conc-core,
.concept-div #cn-list,
.concept-div .img,
.concept-exp-div {
    display: block;
    position: relative
}

.concept-div .img {
    height: auto;
    width: 40%!important;
    margin: 0 0 0 20px;
    overflow: hidden;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .13)
}

.concept-div .img img {
    width: 100%;
    height: auto
}

.concept-exp-div {
    height: 100%;
    width: 57%;
    margin: 0;
    text-align: center;
    overflow: hidden!important
}

.conc-core {
    width: 86%;
    margin: 0 auto;
    padding: 0
}

.concept-div #cn-list {
    width: 100%;
    margin: 0;
    padding: 0 0 0 20px;
    box-sizing: content-box
}

.concept-div #cn-list li {
    position: relative;
    display: list-item;
    margin: 0;
    padding: 0
}

.concept-div p,
.how-it-works-div p {
    position: relative;
    display: block;
    line-height: 1.5;
    color: #666
}

.concept-div ul li p {
    margin: 0;
    padding: 0
}

.rw-p,
.rw-pp {
    margin: 20px auto!important
}

.how-it-works-div p {
    text-align: center;
    margin: 10px auto;
    font-size: 110%;
    width: 90%
}

.concept-div p {
    text-align: left;
    margin: 6px auto;
    font-size: 100%;
    width: 100%
}

#concept-rewards-trig div,
.concept-pic-div {
    position: relative;
    display: inline-block
}

.how-it-works-div h3 {
    margin-bottom: 40px
}

.how-it-works-div h4 {
    margin-bottom: 10px;
    color: #111
}

.svp .parallax-window {
    height: 150px
}

.p-window-one {
    background-image: url(../../assets/img/pen.jpg);
    background-position-y: 90%
}

.p-window-two {
    background-image: url(../../assets/img/contact-us.jpg);
    background-position-y: 53%
}

.how-it-works-div i {
    font-size: 300%;
    margin: 20px auto
}

.concept-div h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #222;
    font-weight: 700
}

#concept-rewards-trig div {
    padding: 18px 20px;
    margin: 0 auto 20px;
    color: #fff;
    background-color: #6DA942;
    text-decoration: none;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-radius: 4px;
    line-height: 0!important
}

#concept-rewards-trig div:hover {
    background-color: #588835
}

#concept-rewards-trig div:active {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2)
}

.col-one-div::after,
.col-three-div::after,
.col-two-div::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 1px;
    color: #888;
    background-color: #000
}

.how-it-works-div .row {
    margin-bottom: 40px
}

@media (max-width:768px) {
    .h-span-h {
        font-size: 11px;
        font-style: italic;
        white-space: nowrap
    }
    .container .in-container {
        width: 95%
    }
    .main-text {
        top: 40%;
        font-size: 70%
    }
    .cur-serving {
        font-size: 125%;
        line-height: 15px;
    }
    .location-warning-div {
        width: 90%
    }
    .concept-trig-btn {
        height: 35px;
        font-size: 120%;
        margin: 10px auto 0
    }
    .col-one-div::after,
    .col-three-div::after,
    .col-two-div::after {
        top: 110%;
        left: 50%;
        height: 1px!important;
        width: 30%
    }
    .how-it-works-div .row>div {
        padding-top: 30px!important
    }
    .concept-div {
        width: 100%;
        flex-direction: column
    }
    .concept-div img {
        width: 100%
    }
    .concept-exp-div {
        width: 90%
    }
    .concept-div p {
        width: 85%
    }
    .concept-div h3 {
        margin-top: 30px
    }
    .scroll-header {
        display: none
    }
    .location-search-input {
        padding-right: 50px;
        padding-left: 3px
    }
    .see-menu-btn {
        font-size: 100%!important
    }
    .concept-div .img img {
        width: 100%
    }
    .concept-div .img {
        margin: 0;
        padding: 0;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, .13)
    }
    .p-window-one {
        background-position: 50% 50%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .container .in-container {
        width: 95%
    }
    .main-text {
        top: 50%;
        font-size: 90%
    }
    /* .cur-serving {
        font-size: 125% 
        
     } */
    .location-warning-div {
        width: 80%
    }
    .concept-trig-btn {
        height: 35px;
        font-size: 110%;
        margin: 10px auto 0
    }
    .col-one-div::after,
    .col-three-div::after,
    .col-two-div::after {
        top: 110%;
        left: 50%;
        height: 1px!important;
        width: 30%
    }
    .how-it-works-div .row>div {
        padding-top: 30px!important
    }
    .concept-div {
        width: 100%;
        flex-direction: column
    }
    .concept-div img {
        width: 100%
    }
    .concept-exp-div {
        width: 90%
    }
    .concept-div p {
        width: 85%
    }
    .concept-div h3 {
        margin-top: 30px
    }
    .scroll-header {
        display: none
    }
}

ul li p {
    text-align: justify
}

@media screen and (min-width:220px) and (max-width:740px) {
    .locate-me-btn {
        width: 30%
    }
    .locate-me-btn span {
        width: 100%;
        text-align: center
    }
    .locate-me-btn span h6 {
        visibility: hidden
    }
    .locate-me-btn span i {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 15px
    }
    .container .in-container,
    .vp {
        position: relative;
        display: block
    }
    .container .in-container {
        margin: 0 auto;
        width: 100%;
        overflow: auto
    }
    .vp {
        width: 100%;
        min-height: 100vh;
        height: auto
    }
}